<h1>About</h1>

<div class="page-content">
  
  <h3>The Problem</h3>
  
  <p class="lead">
    Often times, when dealing with issues of mass tragedies in faraway lands from
    long ago ages, large numbers with many zeros are referenced when referring
    to the people of these events. <b>It can be all too easy to see these numbers
    and not take the time to process them.</b> When referring to human tragedies,
    the difference in perception between 5 deaths and 10 deaths seems massive,
    while the difference between 6,000,000 and 6,000,005 seems negligible.
    In reality, <b>each one of these deaths is a human life, and deserves to be
    treated as such.</b>
  </p>
  
  <h3>Our Goal</h3>
  
  <p class="lead">
    With our application, we hope to allow users to begin to <b>comprehend the huge
    numbers often referenced when referring to mass tragedies</b>, specifically the
    holocaust, by creating a visualization of the . We find it to be extremely important to recognize and value the
    <b>individuality of every life lost</b>, something we hope for our users to achieve
    through the visualization this site provides.
  </p>
  
  <h3>Usage</h3>
  
  <p class="lead">
    The user can create their own counter, which will count every second, even when
    the user is not present. They have the option to enter an email, where they will
    be emailed a link to retrieve their counter if they accidentally log out.
  </p>
</div>
