<h1>For Teachers</h1>

<h3>Our Purpose</h3>
<p class="lead">
  An an application that visualizes the enormity of the number of deaths reported
  in mass tragedies, specifically the holocaust, by recognizing that within
  every singular digit in these large numbers is the story of a human being.
</p>

<h3>Potential Uses in the classroom</h3>
<p class="lead">
  You can use it for fun!
</p>