<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
  <body>
    
    <div class="center jumbotron">
      <h1>Welcome to the Home Page</h1>
      <% if cookies[:lockup] %>
        <div style="text-align:center;">
          <%= button_to 'Timers', timers_index_path, method: :get, class: "btn btn-primary" %>
        </div>
      <% else %>
        <div style="text-align:center;">
          <%= button_to 'New Timer', stopwatch_path, method: :get, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </body>
</html>