<script>
  $(document).ready(function() {
  	$('#fullpage').fullpage({
  	  sectionsColor : ['#AD4337', '#E7E1DD', '#AD4337', '#E7E1DD', '#AD4337']
  	});
  });
</script>

<div class="row">
  <div id="fullpage">
    <div class="section">
      <div class="section-content dark">
        <h1>Inspiration</h1>
      </div>
    </div>
  	<div class="section">
  	  <div class="section-content">
    	  <h3>Our Purpose</h3>
        <p class="lead">
          An an application that visualizes the enormity of the number of deaths reported
          in mass tragedies, specifically the holocaust, by recognizing that <b>within
          every singular digit in these large numbers is the story of a human being.</b>
        </p>
      </div>
  	</div>
  	<div class="section">
  	  
  	  <!-- Slides -->
  	  
  	  <div class="section-content dark">
    	  <h3>The Moment of Inspiration</h3>
        <p class="lead">
          The idea was inspired by our 10th grade english teacher when she was introducing
          our unit on the holocaust and the works of Elie Wiesel. We were instructed to
          enter the enormous numbers of people killed in each country, helping us to
          fully appreciate the enormity of those numbers. Although the excersize helped
          us to get a grasp on the idea, there was still a <b>natural disconnect to the 
          massive loss of human life</b>, as it is difficult to process such loss all at once.
          As Mrs. Milano said,
        </p>
        <blockquote class="blockquote">
          <p>
            "If I could make you guys all type 1+1+1 and so on until you got to six
            million, I would do it."
          </p>
          <cite title="Source Title">Mrs. Milano, CVHS</cite>
        </blockquote>
        <p class="lead"><b>
          It is this wish that this site aims to achieve.
        </b></p>
      </div>
  	</div>
  	<div class="section">
  	  <div class="slide">
  	    <div class="section-content">
  	      <h1>Thematical Motivators</h1>
  	    </div>
  	  </div>
  	  <div class="slide">
  	    <div class="section-content">
    	    <h2>The dangers of</h2>
      	  <h3>Loss of Individuality</h3>
      	  <br><br>
      	  <h4><u>Keeping one's sense of identity is essential for their well being</u></h4>
      	</div>
  	  </div>
  	  
  	  <!-- slide -->
  	  
  	  <div class="slide">
  	    <div class="section-content">
  	      
  	      <!-- grid -->
  	      
  	      <div class="row">
    	      <div class="card">
              <h5 class="card-header">
                <u>Lord of the Flies</u>
              </h5>
              <div class="card-body">
                <blockquote class="blockquote">
                  <p>
                    “The mask was a thing on its own, behind which Jack hid, 
                    liberated from shame and self-consciousness.[...]He looked in 
                    astonishment, no longer at himself but at an awesome stranger”
                    (64).
                  </p>
                  <footer class="blockquote-footer"><cite title="Source Title">Narrator</cite></footer>
                </blockquote>
              </div>
            </div>
            <div class="card">
              <h5 class="card-header">
                <u>Night</u>
              </h5>
              <div class="card-body">
                <blockquote class="blockquote">
                  <p>
                    “From the depths of the mirror, a corpse gazed back at me.
                    The look in his eyes, as they stared into mine, has never left
                    me”(109).
                  </p>
                  <footer class="blockquote-footer"><cite title="Source Title">Elie Wiesel</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>
          
          <!-- grid -->
          
  	    </div>
  	  </div>
  	  
  	  <!-- slide -->
  	  
  	  <div class="slide">
  	    <div class="container section-content">
  	      <div class="row">
  	        <h3>Notable Example: Slavery</h3>
  	      </div>
  	      <div class="row">
  	        <div class="card">
              <h5 class="card-header">
                <u>FacingHistory.org</u>
              </h5>
              <div class="card-body">
                <blockquote class="blockquote">
                  <p>
                    "The master's name was usually adopted by a slave after he 
                    was set free. This was done more because it was the logical 
                    thing to do and the easiest way to be identified“
                  </p>
                  <footer class="blockquote-footer"><cite title="Source Title">Martin Jackson,</cite> former slave</footer>
                </blockquote>
              </div>
            </div>
  	      </div>
  	    </div>
  	  </div>
  	  <div class="slide">
  	    <div class="container">
  	      <figure class="figure">
            <img src="https://images.huffingtonpost.com/2016-04-19-1461067166-2010535-slaves-thumb.jpg" class="figure-img img-fluid rounded img-thumbnail" alt="Slaves">
            <figcaption class="figure-caption">Unnamed slaves in chains</figcaption>
          </figure>
  	    </div>
  	  </div>
  	 
  	 <!-- slide -->
  	  
  	  <div class="slide">
  	    <div class="section-content">
  	      
  	      <!-- grid -->
  	      
  	      <div class="row">
    	      <div class="card">
              <h5 class="card-header">
                <u>Dawn</u>
              </h5>
              <div class="card-body">
                <blockquote class="blockquote">
                  <p>
                    “The night lifted, leaving behind it a grayish light the 
                    color of stagnant water. Soon there was only a tattered 
                    fragment of darkness, hanging in mid-air, the other side of 
                    the window. Fear caught my throat. The tattered fragment of 
                    darkness had a face. The face was my own“(96).
                  </p>
                  <footer class="blockquote-footer"><cite title="Source Title">Narrator</cite></footer>
                </blockquote>
              </div>
            </div>
            <div class="card">
              <h5 class="card-header">
                <u>Mob Mentality</u>
              </h5>
              <div class="card-body">
                <blockquote class="blockquote">
                  <p>
                    "Although humans exhibit strong preferences for equity and
                    moral prohibitions against harm in many contexts, people's 
                    priorities change when there is an 'us' and a 'them,'"(qtd.
                    in Wolford)
                  </p>
                  <footer class="blockquote-footer">Medical Daily articly by <cite title="Source Title">Ben Wolford</cite></footer>
                </blockquote>
              </div>
            </div>
          </div>
          
          <!-- grid -->
          
  	    </div>
  	  </div>
  	  
  	  <!-- slide -->
  	  
  	  <div class="slide">
  	    <div class="container section-content">
  	      <h3>
  	        <small>Regardless of context,</small> stripping people of their
  	        identities leaves them vulnerable to oppressors.
  	      </h3>
  	    </div>
  	  </div>
  	  
  	  
  	  <!-- slides -->
  	  
  	</div>
  	<div class="section dark">
  	  <div class="container section-content">
  	    <h3>
  	        <small>Six Million Stories aims to combat these dangers by </small> 
  	        humanizing each individual in the statistics of tragedies.
  	    </h3>
  	  </div>
  	</div>
  </div>
</div>

<!-- <h1>Inspiration</h1>

<div class="page-content">
  <h3>Our Purpose</h3>
  <p class="lead">
    An an application that visualizes the enormity of the number of deaths reported
    in mass tragedies, specifically the holocaust, by recognizing that <b>within
    every singular digit in these large numbers is the story of a human being.</b>
  </p>
  
  <h3>The Moment of Inspiration</h3>
  <p class="lead">
    The idea was inspired by our 10th grade english teacher when she was introducing
    our unit on the holocaust and the works of Elie Wiesel. We were instructed to
    enter the enormous numbers of people killed in each country, helping us to
    fully appreciate the enormity of those numbers. Although the excersize helped
    us to get a grasp on the idea, there was still a <b>natural disconnect to the 
    massive loss of human life</b>, as it is difficult to process such loss all at once.
    As Mrs. Milano said,
  </p>
  <blockquote class="blockquote">
    <p>
      "If I could make you guys all type 1+1+1 and so on until you got to six
      million, I would do it."
    </p>
    <cite title="Source Title">Mrs. Milano, CVHS</cite>
  </blockquote>
  <p class="lead"><b>
    It is this wish that this site aims to achieve.
  </b></p>
  
  <h3>Central Themes to this Idea</h3>
  <p class="lead">
    
  </p>
  <ul class="list-unstyled">
    <li></li>
  </ul>
  
</div>

-->
