<% if @timer.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger" role="alert">
      The form contains <%= pluralize(@timer.errors.count, "error") %>.
    </div>
    <ul>
    <% @timer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>