<div class="container">
  <div class="box">
    <div class="row row-one">
      <div class="col-md-12 imageholder">
        <% if @story.img.present? %>
          <img class="img-fluid img-thumbnail visual img-responsive pull-left" src=<%= @story.img %>></img>
        <% end %>
        
        <h1><%= @story.name %></h1></h1> 
        
        <p class="lead"><%= @story.content %></p>
      </div>
    </div>
  </div>
</div>