<head>
  <script>
    var myVar = setInterval(myTimer, 1000);
    var time = <%= @timer.elapsed_time %>
    function myTimer() {
      document.querySelector("clock").innerHTML = time;
      time++;
    }
  </script>
</head>

<div class="container show-body">
  <div id='counter'>
    <h2><clock><%= @timer.elapsed_time %></clock></h2>
  </div>
  
  <hr>
  
  <div id="story">
    <%= render 'story' %>
  </div>
  
  <div id="new-story-button">
    <%= button_to 'New Story', newStory_path, method: :patch, remote: true, class: "btn btn-primary" %>
  </div>
  
  
</div>