<div class="container show-body">
  <div id='counter'>
    <h2><clock><%= @timer.elapsed_time %></clock></h2>
    <script data-turbolinks-eval=false>
      var myVar = setInterval(myTimer, 1000);
      var time = <%= @timer.elapsed_time %>
      function myTimer() {
        document.querySelector("clock").innerHTML = time;
        time++;
      }
    </script>
  </div>
  
  <hr>
  <div class="container">
    <div class="box">
      <div class="row row-one">
        <div class="col-md-12 imageholder">
          <%= render "layouts/stories/#{cookies[:story_num]}" %>
        </div>
      </div>
    </div>
  </div>
  
</div>