<h1>Stories</h1>

<ul class="object-index">
  <% @stories.each do |story| %>
    <li class="object-item">
      <%= link_to "Story #{story.id}", story_path(story), class: "btn btn-secondary" %> : <%= story.name %>
      | <%= link_to "delete", story, method: :delete, data: {confirm: "You sure?"} %>
      | <%= link_to "edit", edit_story_path(story)%>
    </li>
  <% end %>
</ul>