<h1>Martin Kapel</h1>

<p class="lead">Martin was born in Leipzig, Germany in 1930 and was legally classed as a Polish citizen by the nationality laws of both Poland and Germany 
Martin was brought up in an orthodox Jewish household 
Martin began going to school shortly before his sixth birthday and by his time the Nazis were already in power and Martin recalls the Nazi propaganda that formed part of his education 
In 1938, Jewish children were no longer allowed to go to non-Jewish schools 
One morning in 1938 Martin and his family were asleep in their beds when there was a knock at the door, Nazis walked in and the family were told to dress quickly and go with them
Only allowed to take what they could grab on the spur of the moment and were watched carefully to ensure they didn't try to take any valuables
They were taken to a small police station and eventually a bus arrived and they got on the bus and were taken to a railway station to join a large crowd of people
Everyone was put on a train, and a short distance into the journey some of the passengers realised they were locked in and could not open the train door from the inside
SS men and German police on the platform threatened to shoot anyone who tried to escape.
After dark, the train arrived at a small railway station and everyone was ordered to get off.
The prisoners were formed into rows, with an SS man at the end of each row, and marched off past a small town and into a forest 
Eventually the column was stopped beside a railway line and the people were told that the SS men would go no further but that they should continue and walk along the railway line between the rails
They walked for hours in the dark along the railway line, with a number of people tripping and being trampled by those behind who couldn't see where they were going
After a few hours some Polish police and soldiers arrived and they realised that they were in Poland
The expulsion had been carried out in secret by the Germans so the Polish authorities had no idea that it was happening(Polenaktion)
Martin and his mother and sister managed to get away and eventually made their way to some relations in Krakow
They stayed with their relatives until they were able to find somewhere else to stay and were in Krakow for about eight months
They were welcomed by their relatives but not by the Polish authorities, who considered them to be illegal immigrants
After eight months in Krakow, Martin and his family went to stay with other relatives in a small village called Brzesko 
Martin's mother managed to get Martin and his sister a place on the Kindertransport that was arranged for those children who had been involved in the forced expulsion from Germany
They travelled to England and went to live with foster parents in Coventry and were met there by their new foster-mother and arrived in Coventry by train in the early evening.
Martin describes being anxious and very much afraid
</p>