$theme-colors: (
  "primary": #a70000
);

@import "bootstrap";



h1,h2 {
  text-align: center;
}

p {
  text-align: center;
}

button {
  float: center;
}

#timers {
  list-style-type: none;
  margin: 10px 0;
}

// footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

