<footer class="page-footer">
  <nav>
    <small>
      <ul class="list-unstyled">
        <li><%= link_to "About", '#'%></li>
        <li><%= link_to "Contact", '#'%></li>
      </ul>
    </small>
    <ul class="list-unstyled">
      <li><%= link_to "Six Million Stories", '#'%></li>
    </ul>
  </nav>
</footer>